/.idea/
/src/main/java/school/sorokin/javacore/basics/CompileError.java
/src/main/java/school/sorokin/javacore/basics/HelloWorld.java
/src/main/java/school/sorokin/javacore/basics/SumExample.java
/src/main/java/school/sorokin/javacore/App.java
/src/test/java/school/sorokin/javacore/AppTest.java
/target/
